/* ---------- Quote of the Day ---------- */
#quoteOfDay {
  font-family: 'Calibri', sans-serif;
  font-style: italic;
  padding: 15px 12px;
  background: #fefefe;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  transition: background 0.2s, color 0.2s;
  text-align: center;
  color: #111;
}

body.dark #quoteOfDay {
  background: #333;
  color: #fffeab;
}

#quoteOfDay::before,
#quoteOfDay::after {
  content: '"';
  font-size: 20px;
}
